<code>Velocity-Nutz视图实现</code>
<h1>Nutz视图-velocity</h1>
<hr/>
<P>这只是一个简单的实现，/layout/defalut.html是一个页面模板，他是主模块，其它的为些模板中的一小块文件，这样可以让页面中相同的内容不必要重复书写
<hr/>
<p>但是静态文件需要放在webapp目录中
<br>
$data

<br>
<form action="about1" method="post">
	<input type="text" name="username"  />
	<input type="submit" />
</form>